/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
  margin: 0;
  padding: 0;
}

/* body */
#index-banner{
  /* background-image: url('../Docs/audience.jpg'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center center;

} 
 



/*SCROLLBAR */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* NAVBAR */
/* nav ul a{
  display:inline-block;
} */

nav{
  /* background-color: rgba(0,0,0,0)!important; */
  background-color:#ff9800!important;
}

nav ul a { 
  color:white;
}

/* nav ul a:nth-of-type(2):before {
  content : "";
  font-family: "Material Icons";
  content: "\e5cc";
} */

nav .input-field label.active i {
  color: white;
}
nav .input-field label i {
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: color .3s;
  transition: color .3s;
}


.search {
  cursor: pointer;
  
}




