<div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">HTML5</a></li>
            <li><a class="white-text" href="#!">CSS and CSS3</a></li>
            <li><a class="white-text" href="#!">media Queries</a></li>
            <li><a class="white-text" href="#!"> Materialize</a></li>
            <li><a class="white-text" href="#!">JavaScript</a></li>
            <li><a class="white-text" href="#!">Module Patterns</a></li>

          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">jQuery</a></li>
            <li><a class="white-text" href="#!">PHP</a></li>
            <li><a class="white-text" href="#!">MySQL</a></li>
            <li><a class="white-text" href="#!">HTML Audio API</a></li>
            <li><a class="white-text" href="#!">ES6 Features</a></li>
            <li><a class="white-text" href="#!">Ajax</a></li>


          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>