<div class="player">
       <div class="ellipse">
       </div>
       <div class="item">
      </div>
      <div class="pause">
        <img class = "pauseImg" src="Docs/pauseBtn.png" alt="">
       
        <img class = "cancelImg" src="Docs/cancel.png" alt="">
        <img class = "updateImg" src="Docs/update.png" alt="">
        <div class="info">
            <div class="audio-control">
                <img src="Docs/audio-control-layout.png"  alt="">
            </div>

            <div class="wrapper">
                <div class = "nowPlayingTitle">Now Playing</div>
                <div class="nowPlaying"></div>
            </div>
            
            <div class="collection listSongs">
                <ul>
                     
                    </ul>
            </div>
            </div>
      </div>
      
     </div>