<div class="section">
  <!--   Icon Section   -->
  <div class="row mainPlaylist">
    <div id="spinner">
      <div>
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <!-- <div class="col s12 m6 l4 xl3 playlist">

    </div> -->


  </div>

  <div class="col s12 m6 l4 xl3 resume">
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">

        <h1 class="header center orange-text">Dahan Isaac</h1>
        <div class="row center">
          <h5 class="header col s12 light">With a deep knowledge in JavaScript and popular frameworks as React or
            Angular, I am currently looking for a position as a <span style="font-weight:600">junior PHP Full Stack
              Developer</span>. Very passionate about all type of technologies, I am a hard worker, team player and
            dedicated person.</h5>
        </div>
        <div class="row center">
          <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a> -->
        </div>

      </div>
    </div>

    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Skills</h5>
<br>
            <ul class="collection">
              <li class="collection-item">
                <a href="#!" class="primary-content"><i class="material-icons">grade</i></a>
                HTML5
              </li>
              <li class="collection-item">
                <a href="#!" class="primary-content"><i class="material-icons">grade</i></a>

                CSS and CSS3</li>
              <li class="collection-item"><a href="#!" class="primary-content"><i
                    class="material-icons">grade</i></a>Bootstrap, Materialize</li>
              <li class="collection-item"><a href="#!" class="primary-content"><i
                    class="material-icons">grade</i></a>JavaScript</li>

              <li class="collection-item"><a href="#!" class="primary-content"><i
                    class="material-icons">grade</i></a>jQuery</li>
              <li class="collection-item"><a href="#!" class="primary-content"><i
                    class="material-icons">grade</i></a>Web Services Rest API</li>
              <li class="collection-item"><a href="#!" class="primary-content"><i
                    class="material-icons">grade</i></a>Ajax</li>
              <li class="collection-item"><a href="#!" class="primary-content"><i
                    class="material-icons">grade</i></a>AngularJS</li>

              <li class="collection-item"><a href="#!" class="primary-content"><i
                    class="material-icons">grade</i></a>Node.js</li>
              <li class="collection-item"><a href="#!" class="primary-content"><i
                    class="material-icons">grade</i></a>React.js – Redux</li>
              <li class="collection-item"><a href="#!" class="primary-content"><i
                    class="material-icons">grade</i></a>PHP</li>
              <li class="collection-item"><a href="#!" class="primary-content"><i
                    class="material-icons">grade</i></a>MySQL</li>

              <li class="collection-item"><a href="#!" class="primary-content"><i
                    class="material-icons">grade</i></a>Mongo DB</li>
              <li class="collection-item"><a href="#!" class="primary-content"><i
                    class="material-icons">grade</i></a>Bootstrap, Materialize</li>
              <li class="collection-item"><a href="#!" class="primary-content"><i
                    class="material-icons">grade</i></a>Responsive Design</li>



            </ul>


            <!-- <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p> -->
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">school</i></h2>
            <h5 class="center">Education</h5>
            <br>
            <ul class="collection">
              <li class="collection-item">Php Full Stack Developer, John Brice High-Tech College (2018).</li>
              <li class="collection-item">Esmod France, Certificate of Fashion Designer. </li>
              <li class="collection-item">Master of L.A.E.C(Lettre-Art-Expression-Communication), Censier-Daubenton
                University, France.</li>
            </ul>
            <!-- <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p> -->
          </div>

          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">language</i></h2>
            <h5 class="center">Languages</h5>
            <br>
            <ul class="collection">
              <li class="collection-item"><span style="font-weight:600">French</span>: Mother Tongue</li>
              <li class="collection-item"><span style="font-weight:600">Hebrew</span>: fluent </li>
              <li class="collection-item"><span style="font-weight:600">English</span>: medium level</li>
            </ul>
            <!-- <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p> -->
          </div>

          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Social Media</h5>
            <br>
            <ul class="collection">
              <li class="collection-item"><span style="font-weight:600">Web site Project</span>: www.nemorak.com</li>
              <li class="collection-item"><span style="font-weight:600">Source code avalable on</span> : https://github.com/slimeVidas26/playlist2019</li>
              <li class="collection-item"><span style="font-weight:600">Linkedin</span>: https://www.linkedin.com/in/isaac-dahan-bb225b100/</li>
            </ul>
            <!-- <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p> -->
          </div>
        </div>

        <div class="col s12 m6 l4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Work Experience</h5>
            <br>
            <ul class="collection">
              <li class="collection-item"><span style="font-weight:600">1994-2004</span> - Professional career as fashion
                designer after having followed a course in French school of fashion in Paris.
              </li>
              <li class="collection-item"><span style="font-weight:600">2005</span> - My first steps in web development as a self-taught. Have done some very
                basic websites
                (http://www.class-un.com , http://www.zinota.com
                , http://bossa-technologies.com.
                At the same time, working as technical support in a high-tech company, Zinota, selling Automatic Optical
                Inspection machines for semi- conductor
                components.
              </li>
              <li class="collection-item"><span style="font-weight:600">2015</span> - Aliya in Israel.
                After few months, I start working as warehouse manager in food company and started with
                evening course at John Brice (2017-2018) for an
                intensive training. At the end of this training, I got my diploma as PHP Full Stack Junior Developer
              </li>
            </ul>
            <!-- <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p> -->
          </div>
        </div>
      </div>

    </div>
    <br><br>

  </div>

</div>