<div class="player">
    <div class="ellipse">
    </div>
    <div class="item">
    </div>
    <div class="itemIsPlaying">
        
        </div>

    <div class="playerActions">
        <a class=" modal-trigger" href="#modal-warning">
            <i id = "cancelImg" class="material-icons" data-id ="toto">cancel</i>
          
        </a>
        <a class=" modal-trigger" href="#modalAdd">
            <i id = "editImg" class="material-icons" data-id = "toto">edit</i>
        </a>
        <div class="info">
             <div class="audio-control">
                <audio id="sound"  controls autoplay></audio>
                
            </div>

            <div class="collection listSongs">
                <ul>

                </ul>
            </div>

             <div class="wrapper">
                <div class="nowPlaying"></div>
            </div>
        </div>
    </div>

</div>